
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Terms</title>
</head>
<body>
    <div>
        @Html.ActionLink("WE HAVE NO TERMS!!! Good luck! :)", "Index", "Registration",new { @style="text-decoration: none;text-align:center;"})
      
    </div>
</body>
</html>
