#filterCard {
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    box-shadow: inset 5px 7px 10px rgba(255, 255, 255, 0.83), /*bottom external highlight*/
    inset -10px -5px 5px rgba(102, 102, 102, 0.29), /*top external shadow*/
    0 10px 18px 0 rgba(0, 0, 0, 0.2), 20px 16px 20px 0 rgba(0, 0, 0, 1);
    background-color: #3e3e3eba;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-right{
    right: -20px;
}

#autoCompInput:hover{
    background-color: white;
    color: #9d9d9d;
}
#myFooter {
    background: #ffab62;
    width: 100% !important;
    height: 100px !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-top:auto !important;
}