
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{

    <div class="imgcontainer">
        <img src="https://www.amadriapark.com/hr/wp-content/uploads/sites/4/2018/08/ta-restaurant-camellia-1.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container" style=" width: 50%; margin-left: auto; margin-right: auto;">


        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username"  value="@Request.Cookies["Username"].Value.ToString()" name="Username" required>


        <label for="Pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" value="@Request.Cookies["Password"].Value.ToString()" name="Password" required>


        <button type="submit">Login</button>
        <button type="button" onclick="location.href='@Url.Action("Registration","Login")'">Register</button>

        <label>
            <input type="checkbox" checked="checked" name="checkbox"> Remember me
        </label>

    </div>

}




